{% extends 'base.html' %}

{% block toolbar %}
<div class="btn-group" role="group" aria-label="tools">
  <a type="button" class="btn btn-success" href="{{ url_for('shop.create') }}">添加</a>
  <a type="button" class="btn btn-danger" href="#">删除</a>
</div>
{% endblock %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">编号</th>
        <th scope="col">网址</th>
        <th scope="col">首款组</th>
        <th scope="col">启用</th>
        <th scope="col">系统风控</th>
        <th scope="col">备注</th>
        <th scope="col">更新时间</th>
        <th scope="col">操作</th>
      </tr>
    </thead>
    <tbody>
      {% for shop in shops %}
      <tr>
        <td>{{ shop.id }}</td>
        <td><a href="{{ shop.url }}">{{ shop.url }}</a></td>
        <td>{{ shop.sitegroup }}</td>
        <td>
          <a type="button" class="btn {% if shop.is_enabled %}btn-success{% else %}btn-danger{% endif %}" href="{% if shop.is_enabled %}{{ url_for('shop.disable', id=shop.id) }}{% else %}{{ url_for('shop.enable', id=shop.id) }}{% endif %}">
            {{ shop.status | status_display }}
          </a>
        </td>
        <td>{{ shop.risk }}</td>
        <td>{{ shop.beizhu }}</td>
        <td>{{ shop.updatetime | timestamp_to_datetime }}</td>
        <td>
          <a type="button" href="{{ url_for('shop.delete', id=shop.id) }}">
            <i class="bi-trash"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}