{% extends 'base.html' %}

{% block toolbar %}
<div class="btn-group" role="group" aria-label="tools">
  <a type="button" class="btn btn-success" href="{{ url_for('settings.currency_create') }}">添加</a>
  <a type="button" class="btn btn-danger" href="#">删除</a>
</div>
{% endblock %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">货币ID</th>
        <th scope="col">名称</th>
        <th scope="col">币种代码</th>
        <th scope="col">汇率</th>
        <th scope="col">操作</th>
      </tr>
    </thead>
    <tbody>
      {% for currency in currencies %}
      <tr>
        <td>{{ currency.id }}</td>
        <td>{{ currency.name }}</td>
        <td>{{ currency.code }}</td>
        <td>{{ currency.value }}</td>
        <td>
          <a type="button" href="{{ url_for('settings.currency_delete', id=currency.id) }}">
            <i class="bi-trash"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}